<div class='table-container'>
  <div class="create-idea-btn" align="center">
    <%= link_to "Create Idea", ideas_new_path,  class: "btn btn-primary btn-lg medium-btn" %>
  </div>
  <div class ="jform"></div>
  <table class='table table'>
    <tr>
      <th><h3 class='headers text-center'>DBC Final Project Ideas</h3></th>
    </tr>
    <% @ideas.each do |idea| %>
      <tr><td class="text-center idea-listing"><%= idea.title %></td></tr>
    <% end %>
  </table>
</div>
