<div>
  <h2><span class="cohort-show-text">Cohorts</span></h2>
  <div>
    <div class="create-cohort-btn">
      <%= link_to "New Cohort", new_cohort_path, class: "btn btn-primary btn-lg text-left" %>
      <p>  </p>
    </div>

    <ul class="teacher-cohort-lists">
      <% @cohorts.each do |cohort| %>
        <li>
          <%= link_to cohort.name.capitalize, cohort, class: "btn btn-info btn-lg text-left" %>
          <span class="mark"><%= "Active Status" unless cohort.closed? %></span>
          <p> </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>

