<div>
  <h3>Cohorts</h3>

  <div class="create-idea-btn">
    <%= link_to "New Cohort", new_cohort_path, class: "btn btn-primary btn-lg medium-btn" %>
  </div>

  <ul>
    <% @cohorts.each do |cohort| %>
      <li>
        <%= link_to cohort.name, cohort %>
        <span><%= "active" unless cohort.closed? %></span>
      </li>
    <% end %>
  </ul>
</div>
