/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

// body {
//     background-image: url();
//     background-size: 70%;
// }

html,body {
    background: url("IMG_5084.JPG") no-repeat center center fixed;
//    background-color: #A5BDD3;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    height: 100%;
}

.container {
  margin-top: 50px;
}


form {
  padding: 0px 30px 80px 30px;
  background-color: white;
  opacity: 0.85;
  filter: alpha(opacity=60);
  border-radius: 10px;
}

nav {
  background-color: white;
  opacity: .85;
  filter: alpha(opacity=60);
  margin-top: -10px;
  margin-right: -20px;
}

table {
  opacity: .85;
  filter: alpha(opacity=60);
  margin-bottom: 50px;
}

.idea-header{
  color: white;
  background-color: #428bca;
}

.idea-tr{
  background-color: white;
}

.left {
  float: left;
}

.right{
  float: right;
}

.header-logo a{
  font-size: 70px;
}
.page-header {
  margin-top: 5px;
  margin-bottom: 40px;
}

.page-header a:hover {
    text-decoration: none;
}

.welcome-btn {
  margin-top: 15%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
  opacity: .85;
  filter: alpha(opacity=60);
}

.create-idea-btn{
  margin-bottom: 50px;
}

.medium-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.btn-container{
  margin-top: 30px;
}

.table-container{
  // margin-top: 50px;
  margin-bottom: 30px;
}
.form-container form{
  padding-top: 20px;
  width: 500px;
  margin: 0 auto;
}

.headers{
  margin-top: 10px;
}


.idea-listing{
  font-size: 20px;
  width: 200px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.form-idea{
  width: 1200px;
}

.menu-toggle{
  margin-top: 35px;
  // margin-right: px;
  padding-left: 0;
}

.menu-dd{
  padding: 20px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}

#push{
  margin-bottom: 300px;
}

#footer {
  background-color: #f5f5f5;
  padding: 0px 25px 50px 30px;
  background-color: white;
  opacity: 0.85;
  filter: alpha(opacity=60);
  margin-right: -10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 1000px) {
  #footer {
    margin-left: -20px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.list-btn{
  margin: 0 auto;
}

.vote-btn{
  opacity: .9;
  margin-top: 10px;
}

.bulb-btn{
  margin-top: 13px;
}

.vote-col{
  width: 100px;
}

.bulb-col{
  width: 100px;
}

.idea-tr{
  height: 80px;
}

.title-listing{
  margin-top: 100px;
  vertical-align: middle;
}

.remain-box{
  margin-top: 10px;
  width: 200px;
}

.yellow-bulb{
  color:yellow;
}

.list-group {
  background-color: #428bca;
  color: white;
  width: 200px;
}

.list-group li {
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;

}

.submit-group{
  margin-top: 50px;
}

.group-lists{
  margin-bottom: 20px;
}

.group-label{
  background-color: #428bca;
  color: white;
  width: 200px;
  border-radius: 2px;
}
